
php/db-test.php
php/variables-test.php
sql/db-setup.sql
sql/queries.sql
sql/testdb.accdb
php/info.php
php/test.php
*.log
php/logs/development.log
php/logs/php-errors.log
*.ai
php/db-setup.php
php/db-connect.php
php/db-connect.php
php/db-connect.php
php/logs/php-errors.log
php/db-connect.php
