Header set Access-Control-Allow-Origin "chrome-extension://cjklnajnighcegajggjfmjecfidllinm"
Header set Access-Control-Allow-Headers Authorization

Options -Indexes +FollowSymlinks

DirectoryIndex home.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php [NC,END]

RewriteCond %{REQUEST_METHOD} !=POST
RewriteRule ^(.+)\.php$ /$1 [L]